In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/diabetes.csv")

## Export dataframe

In [8]:
df.to_csv("diabetes-export.csv", index=True)

## Melihat data dengan .head() dan .tail()

In [9]:
df.head() # Menampilkan 5 baris pertama

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
df.tail() # Menampilkan 5 baris terakhir

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

## Memahami data menggunakan.describe()
Metode ini .describe() mencetak statistik ringkasan semua kolom numerik, seperti jumlah, rata-rata, deviasi standar, rentang, dan kuartil kolom numerik.

In [11]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
df.describe(include=[int])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,81.000000,1.000000

In [13]:
df.describe(exclude=[int])

              BMI  DiabetesPedigreeFunction
count  768.000000                768.000000
mean    31.992578                  0.471876
std      7.884160                  0.331329
min      0.000000                  0.078000
25%     27.300000                  0.243750
50%     32.000000                  0.372500
75%     36.600000                  0.626250
max     67.100000                  2.420000

In [14]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,120.894531,31.972618,0.000,99.00000,117.0000,140.25000,199.00
BloodPressure,768.0,69.105469,19.355807,0.000,62.00000,72.0000,80.00000,122.00
SkinThickness,768.0,20.536458,15.952218,0.000,0.00000,23.0000,32.00000,99.00
Insulin,768.0,79.799479,115.244002,0.000,0.00000,30.5000,127.25000,846.00
BMI,768.0,31.992578,7.884160,0.000,27.30000,32.0000,36.60000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

## Memahami data menggunakan.info()
Metode ini .info() adalah cara cepat untuk melihat tipe data, nilai yang hilang, dan ukuran data dari DataFrame.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

## Memahami data Anda menggunakan .shape
Jumlah baris dan kolom DataFrame dapat diidentifikasi menggunakan <i>.shape</i> atribut DataFrame.

In [25]:
df.shape # Get the number of rows and columns

(768, 9)

In [24]:
df.shape[0] # Get the number of rows only

768

In [27]:
df.shape[1] # Get the number of columns only

9

## Dapatkan semua kolom dan nama kolom
Memanggil .columns atribut objek DataFrame akan mengembalikan nama kolom dalam bentuk objek Index.

In [28]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [29]:
list(df.columns)

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

## Memeriksa nilai yang hilang di pandas dengan .isnull()
Anda dapat memeriksa apakah setiap elemen dalam DataFrame hilang menggunakan .isnull()

In [30]:
# Membuat salinan data dan menghapus baris 2 sampai 5 menjadi NaN
df2 = df.copy()
df2.loc[2:5, 'Pregnancies'] = None
df2.head(7)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1
1,1.0,85,66,29,0,26.6,0.351,31,0
2,NaN,183,64,0,0,23.3,0.672,32,1
3,NaN,89,66,23,94,28.1,0.167,21,0
4,NaN,137,40,35,168,43.1,2.288,33,1
5,NaN,116,74,0,0,25.6,0.201,30,0
6,3.0,78,50,32,88,31.0,0.248,26,1

In [33]:
df2.isnull().sum()

Pregnancies                 4
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [35]:
df2.isnull().sum().sum()

4

## Memfilter, Memotong dan Mengekstrak Data di pandas
Paket pandas menawarkan beberapa cara untuk mengurutkan, membuat subset, memfilter, dan mengisolasi data dalam DataFrames Anda.

## Memfilter data
Untuk mengurutkan DataFrame berdasarkan kolom tertentu:

In [52]:
df.sort_values(by="Age", ascending=False, inplace=True)

In [53]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
459,9,134,74,33,60,25.9,0.460,81,0
453,2,119,0,0,0,19.6,0.832,72,0
666,4,145,82,18,0,32.5,0.235,70,1
123,5,132,80,0,0,26.8,0.186,69,0
684,5,136,82,0,0,0.0,0.640,69,0

In [54]:
df.sort_values(by=["Age", "Glucose"], ascending=[False, True], inplace=True)

In [55]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
459,9,134,74,33,60,25.9,0.460,81,0
453,2,119,0,0,0,19.6,0.832,72,0
666,4,145,82,18,0,32.5,0.235,70,1
123,5,132,80,0,0,26.8,0.186,69,0
684,5,136,82,0,0,0.0,0.640,69,0

## Mengatur ulang indeks
Jika Anda memfilter atau mengurutkan DataFrame, indeks Anda mungkin tidak selaras, Gunakan .reset_index() untuk memperbaikinya:

In [57]:
df.reset_index(drop=True, inplace=True)

In [58]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,9,134,74,33,60,25.9,0.460,81,0
1,2,119,0,0,0,19.6,0.832,72,0
2,4,145,82,18,0,32.5,0.235,70,1
3,5,132,80,0,0,26.8,0.186,69,0
4,5,136,82,0,0,0.0,0.640,69,0

## Memfilter data menggunakan kondisi
Untuk mengekstrak data berdasarkan suatu kondisi:

In [64]:
df[df["BloodPressure"] > 100].sort_values(by="BloodPressure", ascending=False).head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
443,1,96,122,0,0,22.4,0.207,27,0
140,13,158,114,0,0,42.3,0.257,44,1
59,9,171,110,24,240,45.4,0.721,54,1
253,4,189,110,31,0,28.5,0.680,37,0
492,0,129,110,46,130,67.1,0.319,26,1

## Mengisolasi satu kolom menggunakan[ ] 
Anda dapat mengisolasi satu kolom menggunakan tanda kurung siku [ ]dengan nama kolom di dalamnya.

In [65]:
df["Age"]

0      81
1      72
2      70
3      69
4      69
       ..
763    21
764    21
765    21
766    21
767    21
Name: Age, Length: 768, dtype: int64

## Mengisolasi dua atau lebih kolom menggunakan [[]]
Anda juga dapat memberikan daftar nama kolom di dalam tanda kurung siku untuk mengambil lebih dari satu kolom.

In [67]:
df[['Pregnancies','Age']]

     Pregnancies  Age
0              9   81
1              2   72
2              4   70
3              5   69
4              5   69
..           ...  ...
763            1   21
764            2   21
765            1   21
766            0   21
767            0   21

[768 rows x 2 columns]

## Mengisolasi satu baris menggunakan []
Satu baris dapat diambil dengan memasukkan rangkaian boolean dengan satu True nilai

In [76]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,9,134,74,33,60,25.9,0.460,81,0
1,2,119,0,0,0,19.6,0.832,72,0
2,4,145,82,18,0,32.5,0.235,70,1
3,5,132,80,0,0,26.8,0.186,69,0
4,5,136,82,0,0,0.0,0.640,69,0

In [74]:
df[df.index==2]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
2,4,145,82,18,0,32.5,0.235,70,1

## Mengisolasi dua atau lebih baris menggunakan [ ] 
Demikian pula, dua baris atau lebih dapat dikembalikan menggunakan .isin() metode, bukan == operator.

In [75]:
df[df.index.isin(range(2,5))]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
2,4,145,82,18,0,32.5,0.235,70,1
3,5,132,80,0,0,26.8,0.186,69,0
4,5,136,82,0,0,0.0,0.640,69,0