In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ptl

In [3]:
data = pd.read_csv('sales_data.csv')

In [11]:
data.head(3)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401

In [13]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Day,113036.0,15.665753,8.781567,1.0,8.0,16.0,23.0,31.0
Year,113036.0,2014.401739,1.272510,2011.0,2013.0,2014.0,2016.0,2016.0
Customer_Age,113036.0,35.919212,11.021936,17.0,28.0,35.0,43.0,87.0
Order_Quantity,113036.0,11.901660,9.561857,1.0,2.0,10.0,20.0,32.0
Unit_Cost,113036.0,267.296366,549.835483,1.0,2.0,9.0,42.0,2171.0
Unit_Price,113036.0,452.938427,922.071219,2.0,5.0,24.0,70.0,3578.0
Profit,113036.0,285.051665,453.887443,-30.0,29.0,101.0,358.0,15096.0
Cost,113036.0,469.318695,884.866118,1.0,28.0,108.0,432.0,42978.0
Revenue,113036.0,754.370360,1309.094674,2.0,63.0,223.0,800.0,58074.0

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

In [15]:
data.shape

(113036, 18)

In [16]:
data.columns

Index(['Date', 'Day', 'Month', 'Year', 'Customer_Age', 'Age_Group',
       'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product', 'Order_Quantity', 'Unit_Cost', 'Unit_Price',
       'Profit', 'Cost', 'Revenue'],
      dtype='object')

In [17]:
list(data.columns)

['Date',
 'Day',
 'Month',
 'Year',
 'Customer_Age',
 'Age_Group',
 'Customer_Gender',
 'Country',
 'State',
 'Product_Category',
 'Sub_Category',
 'Product',
 'Order_Quantity',
 'Unit_Cost',
 'Unit_Price',
 'Profit',
 'Cost',
 'Revenue']

In [18]:
data2 = data.copy()
data2.loc[2:5, 'Day'] = None
data2.head(7)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26.0,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26.0,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,NaN,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,NaN,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,NaN,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
5,2016-05-15,NaN,May,2016,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,297,225,522
6,2014-05-22,22.0,May,2014,47,Adults (35-64),F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180,379

In [27]:
data2.isnull().sum().sum()

4

In [28]:
data.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [40]:
data.sort_values(by=['Order_Quantity'], ascending=False, inplace=True)
data.head(5)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
92800,2016-05-22,22,May,2016,41,Adults (35-64),F,Germany,Saarland,Accessories,Tires and Tubes,LL Mountain Tire,32,9,25,368,288,656
32265,2015-11-08,8,November,2015,38,Adults (35-64),F,United Kingdom,England,Accessories,Helmets,"Sport-100 Helmet, Red",32,13,35,659,416,1075
75907,2015-08-10,10,August,2015,24,Youth (<25),M,United States,California,Accessories,Tires and Tubes,HL Mountain Tire,32,13,35,682,416,1098
94061,2016-01-07,7,January,2016,46,Adults (35-64),F,Canada,British Columbia,Accessories,Tires and Tubes,Patch Kit/8 Patches,32,1,2,31,32,63
98305,2016-07-08,8,July,2016,45,Adults (35-64),M,United States,Washington,Accessories,Tires and Tubes,Patch Kit/8 Patches,32,1,2,18,32,50

In [42]:
data.reset_index(drop=True, inplace=True)

In [45]:
data[data['Order_Quantity'] >5]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2016-05-22,22,May,2016,41,Adults (35-64),F,Germany,Saarland,Accessories,Tires and Tubes,LL Mountain Tire,32,9,25,368,288,656
1,2015-11-08,8,November,2015,38,Adults (35-64),F,United Kingdom,England,Accessories,Helmets,"Sport-100 Helmet, Red",32,13,35,659,416,1075
2,2015-08-10,10,August,2015,24,Youth (<25),M,United States,California,Accessories,Tires and Tubes,HL Mountain Tire,32,13,35,682,416,1098
3,2016-01-07,7,January,2016,46,Adults (35-64),F,Canada,British Columbia,Accessories,Tires and Tubes,Patch Kit/8 Patches,32,1,2,31,32,63
4,2016-07-08,8,July,2016,45,Adults (35-64),M,United States,Washington,Accessories,Tires and Tubes,Patch Kit/8 Patches,32,1,2,18,32,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71138,2014-04-09,9,April,2014,51,Adults (35-64),M,Canada,British Columbia,Accessories,Helmets,"Sport-100 Helmet, Black",6,13,35,130,78,208
71139,2015-12-25,25,December,2015,42,Adults (35-64),M,France,Hauts de Seine,Clothing,Jerseys,"Short-Sleeve Classic Jersey, L",6,42,54,49,252,301
71140,2014-02-16,16,February,2014,26,Young Adults (25-34),M,Canada,British Columbia,Accessories,Helmets,"Sport-100 Helmet, Black",6,13,35,130,78,208
71141,2015-12-24,24,December,2015,33,Young Adults (25-34),F,Canada,British Columbia,Accessories,Helmets,"Sport-100 Helmet, Black",6,13,35,130,78,208
71142,2016-03-17,17,March,2016,31,Young Adults (25-34),M,France,Somme,Accessories,Bottles and Cages,Road Bottle Cage,6,3,9,26,18,44

In [48]:
data.head(3)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2016-05-22,22,May,2016,41,Adults (35-64),F,Germany,Saarland,Accessories,Tires and Tubes,LL Mountain Tire,32,9,25,368,288,656
1,2015-11-08,8,November,2015,38,Adults (35-64),F,United Kingdom,England,Accessories,Helmets,"Sport-100 Helmet, Red",32,13,35,659,416,1075
2,2015-08-10,10,August,2015,24,Youth (<25),M,United States,California,Accessories,Tires and Tubes,HL Mountain Tire,32,13,35,682,416,1098

In [ ]:
product_revenue = data[['Product', 'Revenue']]  # Memilih kolom 'Product' dan 'Revenue'
product_revenue_sorted = product_revenue.sort_values(by='Revenue', ascending=False) # Mengurutkan berdasarkan 'Revenue' secara descending
product_revenue_sorted.head(5) # Mengambil 5 baris teratas

In [ ]:
ax = product_revenue_sorted.value_counts().plot(kind='bar')
ax.set_ylabel('Total Revenue')